# Import Library

In [7]:
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Open dataset

In [2]:
df = pd.read_csv('text_labelling.csv')
df

                                           text_clean  sentiment
0     surat rekom petinggi ganyantumin pangkat golong   0.000000
1                            lupa terima total daftar   0.000000
2                     kemarin isi yogyakarta domisili   0.000000
3     gim nih lupa correct beasiswa lupa kk solusi ap   0.000000
4                                  sedih masuk angkat -33.333333
...                                               ...        ...
1869          cerita inspiratif msib ngirit bbh turun  16.666667
1870                            sekal masuk feed haha   0.000000
1871                                             waww   0.000000
1872                                         capernya   0.000000
1873                        informasi bbh cairrr msib   0.000000

[1874 rows x 2 columns]

# Labelling

labelling merupakan proses untuk memberi label pada data dengan asumsi -1 adalah negatif , 1 adalah positif dan 0 adalah netral

In [3]:
def labelling(sentiment):
    if sentiment > 0:
        return 1
    elif sentiment < 0:
        return -1
    else:
        return 0
df['sentiment_'] = df.sentiment.apply(labelling)

In [4]:
df

                                           text_clean  sentiment  sentiment_
0     surat rekom petinggi ganyantumin pangkat golong   0.000000           0
1                            lupa terima total daftar   0.000000           0
2                     kemarin isi yogyakarta domisili   0.000000           0
3     gim nih lupa correct beasiswa lupa kk solusi ap   0.000000           0
4                                  sedih masuk angkat -33.333333          -1
...                                               ...        ...         ...
1869          cerita inspiratif msib ngirit bbh turun  16.666667           1
1870                            sekal masuk feed haha   0.000000           0
1871                                             waww   0.000000           0
1872                                         capernya   0.000000           0
1873                        informasi bbh cairrr msib   0.000000           0

[1874 rows x 3 columns]

In [6]:
print(len(df[df['sentiment_'] == 1]))
print(len(df[df['sentiment_'] == 0]))
print(len(df[df['sentiment_'] == -1]))

406
1263
205

## Split data train, dan data test

In [9]:
X = df['text_clean']
y = df['sentiment_']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [12]:
pd.DataFrame({'X_test':X_test.values,'y_test':y_test}).to_csv('X_test.csv',index=False)

In [6]:
# df.to_csv('labelling_final.csv',index=False)